footer {
    display: flex;
    font-family: 'Quicksand', sans-serif;
    z-index: 2;
    height: fit-content;
    background-color: rgb(16, 16, 16);
    color: #fff;
    padding: 10px;
    transition-duration: 0.3s;
}
  

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  word-spacing: normal;
  margin: 0;
}

footer ul {
  width: 60%;

  list-style: none;
  margin-bottom: 30px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

footer li {
  
  word-spacing: normal;
}


footer a {
  color: #fff;
  text-decoration: none;
}
footer a:hover {
  color: rgba(255, 255, 255, 0.689);
}


.social-links li {
  
  font-size: 30px;
}



.lock {
  position: absolute;
  font-size: 25px;
}


.social-icon-instagram:hover {
    color: rgb(255, 73, 103);
}
.social-icon-facebook:hover {
    color: rgb(27, 27, 255);
}
.social-icon-twitter:hover {
    color: aqua;
}

.pr-po {
  display: flex; 
  justify-content: center; 
  align-items: center;
}

@media (max-width: 800px) {
  footer {
    font-size: 13px;
  }
  
  .social-links li {
    font-size: 20px;
    
  }
  .pr-po {
    display: none;
  }
  
  
}